/*importando a fonte que será utilizada na página*/
@import url('http://fonts.cdnfonts.com/css/gotham');

/*início da estilização geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gotham';
}
/*fim da estilização geral*/

/*início da estilização do menu*/
.menu{
    width: 100%;
    height: 11vh;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12rem 0 12rem;
}
.fa-spotify{
    float: left;
    font-size: 35px;
    color: #fff;
}
.menu .logo h1{
    float: left;
    margin-left: 0.5rem;
    font-size: 28px;
    color: #fff;
}
.menu .menu-icon i{
    display: none;
    font-size: 35px;
    color: #fff;
}
.menu .lista{
    display: flex;
    list-style: none;
}
.menu .lista li{
    padding: 0.5cm;
}
.menu .lista li a{
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}
.menu .lista li a:hover{
    color: #1ed760;
}
.barra{
    cursor: auto;
}
/*fim da estilização do menu*/

/*início da estilização do banner*/
.banner{
    width: 100%;
    height: 89vh;
}
.título{
    padding-top: 8rem;
    font-size: 65px;
    color: #1ed760;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.subtítulo{
    padding-top: 3rem;
    font-size: 15px;
    color: #1ed760;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.botão{
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botão button{
    background-color: #1ed760;
    font-size: 14px;
    border: 1px solid #1ed760;
    border-radius: 50px;
    padding: 20px 20px;
    cursor: pointer;
}
.botão button a{
    text-decoration: none;
    color: #3d57cb;
    font-weight: 600;
}
.botão button:hover{
    transform: scale(1.04);
}
/*fim da estilização do banner*/

/*início da responsividade*/
@media (max-width: 530px){
    .título{
        font-size: 35px;
    }
    .subtítulo{
        font-size: 15px;
    }
}
@media (max-width: 1100px) {
    .menu .menu-icon i{
        display: block;
    }
    .menu{
        padding: 0 2rem 0 2rem;
    }
    .menu .lista{
        position: fixed;
        width: 50%;
        height: 100vh;
        background-color: #000;
        top: 11vh;
        right: -100%;
        text-align: center;
        display: block;
        transition: all 0.5s ease;
    }
    .menu .lista li{
        padding: 1cm;
    }
    .menu .lista li a{
        font-size: 15px;
    }
    .menu .lista.abrir{
        right: 0;
    }
}
/*fim da responsividade*/